#login {
    background: linear-gradient(120deg, #4C79D3 44.9%, #ffffff 45%) no-repeat fixed;
}

.text-login {
    color:#ffffff;
    font-size: 18px;
    font-weight: 500;

}

.coins {
    position:absolute;
    bottom: 0px;
}

.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color:#ffffff;
    width: 50%;
    margin: 0 25%;
    
}

.button-login:hover{
    background-color: #4C79D3;
    color:#ffffff;
}

.link-default {
    color: 4C0070;
    cursor: pointer;
}

.link-default:hover {
    color: #4C79D3;
}

